% extends 'base.html'

% block content
    % from 'macros.html' import time_format, reltime_format
    % macro _endpoint(url, method, data=none)
        <table class="table-flat table-hovered">
            <tr>
                <th class="width-40 text-left"><code>{{ url_for('api') }}/{{ url }}</code></th>
                <th class="width-60 text-right">{{ method }}</th>
            </tr>
            % if data
            % for (field, sample) in data
                <tr>
                    <th class="width-40 text-left"><var>{{ field }}</var></th>
                    <td class="width-60 text-centered">{{ sample }}</td>
                </tr>
            % endfor
            % endif
        </table>
    % endmacro

    % macro _curl(url, method, data=none, pre=false)
curl{{ ' -u "user:pass"' if method != 'GET' }} -X {{ method }} {{ url_for('api', _external=true) }}/{{ url }}{{ ' \\' if pre and data }}
% if data
% for (field, sample) in data
    -d {{ field }}={{ sample }}{{ ' \\' if pre and not loop.last }}
% endfor
% endif
    % endmacro

    % macro _hartmann_gitter()
        <pre class="width-75 unit-centered"><code>
#!/bin/bash

ERDSTRAHLEN=$(python3 -c "from random import choice; print(choice(range(0, 1+1337)))")

% if caller
{{ caller() }}
% else
echo $ERDSTRAHLEN

% endif
</code></pre>
    % endmacro

    % macro _segment(name, endpoints)
        <hr />
        <h3 id="{{ name|lower }}"><a>{{ name }}</a></h3>
        % if caller
            {{ caller() }}
        % endif
        <div class="units-row end">
            <div class="unit-50">
                % for (url, method, data, description) in endpoints
                    {{ _endpoint(url, method, data) }}
                % endfor
            </div>
            <div class="unit-50">
                % for (url, method, data, description) in endpoints
                    <div class="group pause">
                        {{ description }}
                        <code class="width-100">{{ _curl(url, method, data) }}</code>
                    </div>
                % endfor
            </div>
        </div>
    % endmacro

    % macro _listing(elems)
        <ul>
            % for elem in elems
            % with cliff = time_format(the_cliff()) + ' (' + reltime_format(the_cliff()) ~ ')'
            % with del_cliff = time_format(the_del_cliff()) + ' (' + reltime_format(the_del_cliff()) ~ ')'
            <li>{{
                elem|replace(
                    '###Unit', '<a class="bold" href="' ~ url_for('api', _anchor='unit') ~ '">Unit</a>'
                )|replace(
                    '###Axis', '<a class="bold" href="' ~ url_for('api', _anchor='axis') ~ '">Axis</a>'
                )|replace(
                    '###Sensor', '<a class="bold" href="' ~ url_for('api', _anchor='sensor') ~ '">Sensor</a>'
                )|replace(
                    '###Data', '<a class="bold" href="' ~ url_for('api', _anchor='data') ~ '">Data</a>'
                )|replace(
                    '###Collection', '<a class="bold" href="' ~ url_for('api', _anchor='collection') ~ '">Collection</a>'
                )|replace(
                    '###svar', '<var>'
                )|replace(
                    '###evar', '</var>'
                )|replace(
                    '###Status', '<a href="' ~ url_for('conc', cc=0) ~ '">Status</a>'
                )|replace(
                    '###Graph', '<a href="' ~ url_for('index', _anchor=range(0, 10)|random) ~ '">Graph</a>'
                )|replace(
                    '###' ~ the_shouts , '<a href="' ~ url_for('index', _anchor=the_shouts) ~ '">' ~ the_shouts ~ '</a>'
                )|safe|replace(
                    '###cliff', cliff
                )|replace(
                    '###del_cliff', del_cliff
                )|safe
            }}</li>
            % endwith
            % endwith
            % endfor
        </ul>
    % endmacro

    <h2 class="text-centered">api</h2>
    Im vorliegendem Beispielfall haben wir eine Datenquelle, die kontinuierlich die Erdstrahlenbelastung vor Ort misst:

    {{ _hartmann_gitter() }}

    % call _segment(
        'Unit',
        [
            ('unit', 'GET', none, 'Übersicht'),
            ('unit/' ~ the_variation_unit, 'GET', none, 'Details'),
            ('unit', 'POST', [
                ('name', '"' ~ the_variation_unit ~ '"'),
                ('axis', '1'),
                ('description', '"Erdstrahlenbelastung in Bovis"'),
            ], 'Schreiben'),
        ]
    )
        {{ _listing([
            'Bevor man einen ###Sensor erstellen kann, muss eine ###Unit existieren.',
            'Möchte man ###Data eines ###Sensors aus dem ###Graph ausschließen, wählt man hier als ###Axis die ###svar0###evar.'
        ]) }}
    % endcall

    % call _segment(
        'Axis',
        [
            ('axis', 'GET', none, 'Übersicht'),
        ]
    )
        <ul class="blocks-2">
            <li>
                {{ _listing([
                    'Die ###Axis einer ###Unit bestimmt auf welcher y-Achse ###Data eines ###Sensors im ###Graph angezeigt und deren Werte formatiert werden.'
                ]) }}
            </li>
            <li>
                <table class="table-flat table-hovered width-50 unit-centered">
                    <tr>
                        <th class="width-50 text-centered">Achse</th>
                        <th class="width-50 text-centered">Formatierung</th>
                    </tr>
                    % for a in the_axis
                    <tr>
                        <td class="width-50 text-centered">{{ a }}</td>
                        <td class="width-50 text-centered">{{ the_axis[a] }}</td>
                    </tr>
                    % endfor
                </table>
            </li>
        </ul>
    % endcall

    % call _segment(
        'Sensor',
        [
            ('sensor', 'GET', none, 'Übersicht'),
            ('sensor/' ~ the_variation, 'GET', none, 'Details'),
            ('sensor', 'POST', [
                ('name', '"' ~ the_variation ~ '"'),
                ('unit', '"' ~ the_variation_unit ~ '"'),
                ('factor', '0.0'),
                ('description', '"Erdstrahlenberechnung im Hartmann-Gitter"'),
            ], 'Schreiben')
        ]
    )
        {{ _listing([
            'Ohne ###Sensor kann nicht nach ###Data geschrieben werden.',
            'Ein ###Sensor existiert immer in Abhängigkeit zu einer ###Unit.',
            'Mehrere ###Sensoren können in ###Collections gruppiert werden.',
            'Der ###svarfactor###evar bestimmt die Gewichtung des letzten Werts im ###Status. Möchte man die Werte davon ausschließen wählt man hier den Wert ###svar0.0###evar.'
        ]) }}
    % endcall

    % with cliff = the_cliff()
    % with del_cliff = the_del_cliff()
    % call _segment(
        'Data',
        [
            ('data/erdstrahlen', 'GET', none, 'Details'),
            ('data', 'POST', [
                ('name', '"' ~ the_variation ~ '"'),
                ('value', '0.23'),
            ], 'Schreiben'),
            ('data', 'DELETE', [
                ('value', '0.23'),
                ('time', cliff),
            ], 'Löschen')
        ]
    )
        {{ _listing([
            '###Data lässt sich nur unter Angabe eines ###Sensors schreiben.',
            'Zeit ist immer in ###svarutc###evar und wird der api in ###svarms###evar angegeben: ( z.B. ###svar' ~ del_cliff ~ '###evar )',
            'Vor dem Schreiben werden Einträge älter als der ###del_cliff gelöscht.',
            'Einträge älter als der ###cliff werden zur Berechnung des ###Status nicht mit einbezogen.',
            'Da mehrere Einträge mit der selben ###svarvalue###evar zu unterschiedlichen ###svartime###evar existieren können, muss man zum löschen die ###svartime###evar mit angeben.'
        ]) }}
    % endcall
    % endwith
    % endwith

    Das Script das regelmäßig läuft sieht nun so aus:
    % call _hartmann_gitter()
{{ _curl(
    'data', 'POST', [
        ('name', '"' ~ the_variation ~ '"'),
        ('value', '$ERDSTRAHLEN')
    ],
    pre=true
) }}
    % endcall

    % call _segment(
        'Collection',
        [
            ('collection', 'GET', none, 'Übersicht'),
            ('collection/' ~ the_service_collection, 'GET', none, 'Details'),
            ('collection', 'POST', [
                ('name', '"' ~ the_service_collection ~ '"'),
                ('sensors', '"' ~ the_variation ~ '"'),
                ('sensors', '"' ~ the_shouts ~ '"'),
                ('description', '"System-Sammlung"'),
            ], 'Schreiben'),
        ]
    )
        {{ _listing([
            'In einer ###Collection können ###Sensoren gruppiert werden.',
            'Wurde einem ###Sensor noch keine ###Collection zugeordnet so erscheint er im ###Graph und im ###Status unter ###svar' ~ the_non_collection ~ '###evar.'
        ]) }}
    % endcall

    % call _segment(
        'Graph',
        [
            ('graph', 'GET', none, 'Übersicht'),
            ('graph/' ~ the_service_collection, 'GET', none, 'Details')
        ]
    )
        {{ _listing([
            'Wird zur Anzeige des ###Graph benötigt.',
            'Liefert als Übersicht eine Liste von ###Collections (und ggf. ###svar' ~ the_non_collection ~ '###evar) für die einzelnen Tabs.',
            'Als Details wird ###Data aller ###Sensoren der ###Collection in ###Graph-Kompatibel geliefert.'
        ]) }}
    % endcall

    % with guess = range(0, 99)|random
    % call _segment(
        '%',
        [
            ('%', 'GET', none, 'Details'),
            (guess ~ '%', 'GET', none, 'Details')
        ]
    )
        {{ _listing([
            'Gibt den ermittelten Wert des ###Status zurück.',
            'Wird genutzt um den ###Status im Titel zu aktualisieren.',
        ]) }}
    % endcall
    % endwith

    % call _segment(
        the_shouts,
        []
    )
        {{ _listing([
            'Bei den "###' ~ the_shouts ~ '" handelt es sich um die Nachrichten unterhalb vom ###Graph.',
            'Der ###Sensor hat den Namen ###svar' ~ the_shouts ~ '###evar, mit der ###Unit ###svar' ~ the_shouts ~ '###evar, und liegt in der ###Collection ###svar' ~ the_service_collection ~ '###evar.',
        ]) }}
    % endcall

    Zum Beispiel lassen sich {{ the_shouts }} bei bestimmten Ereignissen auch per api pushen:
    % call _hartmann_gitter()
if [ $ERDSTRAHLEN -eq 1337 ]; then
  {{ _curl(
        'data', 'POST', [
            ('sensor', '"' ~ the_shouts ~ '"'),
            ('value', '"Erdstrahlen Overload! Sofort evakuieren!!1!"')
        ],
        pre=true
    ) }}fi
    % endcall

    % call _segment(
        the_variation,
        []
    )
        {{ _listing([
            'Bei den "' ~ the_variation ~ '" handelt es sich nicht um das oben beschriebene Script.',
            'Es ist die Differenz der aufgerufenen URL vom ###Status zum tatsächlichen Wert des ###Status. Auf der Seite sowie in der API.',
            'Beim Expliziten Aufruf der URL ###svar' ~ url_for('conc', cc=0) ~ '%###evar bzw. ###svar' ~ url_for('conc', cc=0)|replace('%25', '') ~ '%###evar wird das ganze übersprungen.',
            'Der ###Sensor hat den Namen ###svar' ~ the_variation ~ '###evar, mit der ###Unit ###svar' ~ the_variation_unit ~ '###evar, und liegt in der ###Collection ###svar' ~ the_service_collection ~ '###evar.',
        ]) }}
    % endcall

    <hr />
    <blockquote class="width-75 unit-centered">
        "... das Passwort liegt bestimmt irgendwo im Wiki&trade;, musst halt mal nachschauen ..."
    </blockquote>
% endblock content
