% extends 'base.html'

% block content
    % from 'macros.html' import render_hartmann_gitter, render_curl_line, render_api_listing, render_api_segment

    <h2 class="text-centered">api</h2>
    Im vorliegendem Beispielfall haben wir eine Datenquelle, die kontinuierlich die Erdstrahlenbelastung vor Ort misst:

    {{ render_hartmann_gitter() }}

    % call render_api_segment(
        'Unit',
        [
            ('unit', 'GET', none, 'Übersicht'),
            ('unit/' ~ the_variation_unit, 'GET', none, 'Details'),
            ('unit', 'POST', [
                ('name', '"' ~ the_variation_unit ~ '"'),
                ('axis', '1'),
                ('description', '"Erdstrahlenbelastung in Bovis"'),
            ], 'Schreiben'),
        ]
    )
        {{ render_api_listing([
            'Bevor man einen Sensor erstellen kann, muss eine Unit existieren.',
            'Möchte man Data eines Sensors aus dem Graph ausschließen, wählt man hier als Axis die __v0v__.'
        ]) }}
    % endcall

    % call render_api_segment(
        'Axis',
        [
            ('axis', 'GET', none, 'Übersicht'),
        ]
    )
        <ul class="blocks-2">
            <li>
                {{ render_api_listing([
                    'Die Axis einer Unit bestimmt auf welcher y-Achse Data eines Sensors im Graph angezeigt und deren Werte formatiert werden.'
                ]) }}
            </li>
            <li>
                <table class="table-flat table-hovered width-75 unit-centered">
                    <tr>
                        <th class="width-50 text-centered">Achse</th>
                        <th class="width-50 text-centered">Formatierung</th>
                    </tr>
                    % for a in the_axis
                    <tr>
                        <td class="width-50 text-centered">{{ a }}</td>
                        <td class="width-50 text-centered">{{ the_axis[a] }}</td>
                    </tr>
                    % endfor
                </table>
            </li>
        </ul>
    % endcall

    % call render_api_segment(
        'Sensor',
        [
            ('sensor', 'GET', none, 'Übersicht'),
            ('sensor/' ~ the_variation, 'GET', none, 'Details'),
            ('sensor', 'POST', [
                ('name', '"' ~ the_variation ~ '"'),
                ('unit', '"' ~ the_variation_unit ~ '"'),
                ('factor', '0.0'),
                ('description', '"Erdstrahlenberechnung im Hartmann-Gitter"'),
            ], 'Schreiben')
        ]
    )
        {{ render_api_listing([
            'Ohne Sensor kann nicht nach Data geschrieben werden.',
            'Ein Sensor existiert immer in Abhängigkeit zu einer Unit.',
            'Mehrere Sensoren können in Collections gruppiert werden.',
            'Der __vfactorv__ bestimmt die Gewichtung des letzten Werts im Status. Möchte man die Werte davon ausschließen wählt man hier den Wert __v0.0v__.'
        ]) }}
    % endcall

    % with cliff = the_cliff()
    % with del_cliff = the_del_cliff()
    % call render_api_segment(
        'Data',
        [
            ('data/erdstrahlen', 'GET', none, 'Details'),
            ('data', 'POST', [
                ('name', '"' ~ the_variation ~ '"'),
                ('value', '0.23'),
            ], 'Schreiben'),
            ('data', 'DELETE', [
                ('value', '0.23'),
                ('time', cliff),
            ], 'Löschen')
        ]
    )
        {{ render_api_listing([
            'Data lässt sich nur unter Angabe eines Sensors schreiben.',
            'Zeit ist immer in __vutcv__ und wird der api in __vmsv__ angegeben: ( z.B. __v' ~ del_cliff ~ 'v__ )',
            'Vor dem Schreiben werden Einträge älter als der __dcliff gelöscht.',
            'Einträge älter als der __cliff werden zur Berechnung des Status nicht mit einbezogen.',
            'Da mehrere Einträge mit der selben __vvaluev__ zu unterschiedlichen __vtimev__ existieren können, muss man zum Löschen die __vtimev__ mit angeben.'
        ]) }}
    % endcall
    % endwith
    % endwith

    Das Script das regelmäßig läuft sieht nun so aus:
    % call render_hartmann_gitter()
{{ render_curl_line(
    'data', 'POST', [
        ('name', '"' ~ the_variation ~ '"'),
        ('value', '$ERDSTRAHLEN')
    ],
    pre=true
) }}
    % endcall

    % call render_api_segment(
        'Collection',
        [
            ('collection', 'GET', none, 'Übersicht'),
            ('collection/' ~ the_service_collection, 'GET', none, 'Details'),
            ('collection', 'POST', [
                ('name', '"' ~ the_service_collection ~ '"'),
                ('sensors', '"' ~ the_variation ~ '"'),
                ('sensors', '"' ~ the_shouts ~ '"'),
                ('description', '"System-Sammlung"'),
            ], 'Schreiben'),
        ]
    )
        {{ render_api_listing([
            'In einer Collection können Sensoren gruppiert werden.',
            'Wurde einem Sensor noch keine Collection zugeordnet so erscheint er im Graph und im Status unter __v' ~ the_non_collection ~ 'v__.'
        ]) }}
    % endcall

    % call render_api_segment(
        'Graph',
        [
            ('graph', 'GET', none, 'Übersicht'),
            ('graph/' ~ the_service_collection, 'GET', none, 'Details')
        ]
    )
        {{ render_api_listing([
            'Wird zur Anzeige des Graph benötigt.',
            'Liefert als Übersicht eine Liste von Collections (und ggf. __v' ~ the_non_collection ~ 'v__) für die einzelnen Tabs.',
            'Als Details wird Data aller Sensoren der Collection in Graph-Kompatibel geliefert.',
            'Es werden nur Collections gelistet, die Sensoren folgender Kriterien enthalten:',
            '<ul>
                <li>Es ist bereits Data vorhanden,</li>
                <li>Es wurde eine Unit zugewiesen,</li>
                <li>Die Axis der Unit ist __v' ~ the_axis|list|join('v__ oder __v') ~ 'v__.</li>
            </ul>',
            'Im Status sind diese aber vorhanden.'
        ]) }}
    % endcall

    % with guess = range(0, 99)|random
    % call render_api_segment(
        '%',
        [
            ('%', 'GET', none, 'Details'),
            (guess ~ '%', 'GET', none, 'Details')
        ]
    )
        {{ render_api_listing([
            'Gibt den ermittelten Wert des Status zurück.',
            'Wird genutzt um den Status im Titel zu aktualisieren.',
        ]) }}
    % endcall
    % endwith

    % with hs_base = 'https://spaceapi.net/documentation'
    % call render_api_segment(
        'SpaceAPI',
        [
            ('space', 'GET', none, 'Details')
        ]
    )
        <ul class="blocks-2">
            <li>
                {{ render_api_listing([
                    'Die Anbindung and die <a href="' ~ hs_base ~ '">HackerspaceAPI</a>.',
                    'Dort werden Werte der Sensoren mit eingebunden, falls diese existieren und Data dazu vorliegt.'
                ]) }}
            </li>
            <li>
                <table class="table-flat table-hovered width-75 unit-centered">
                    <tr>
                        <th class="width-50 text-centered">Feld</th>
                        <th class="width-50 text-centered">Sensoren</th>
                    </tr>
                    % for s in the_space_sensors
                    <tr>
                        <td class="width-50 text-centered"><a href="{{ hs_base }}#documentation-ref-13-root-sensors-{{ s }}">{{ s }}</a></td>
                        <td class="width-50 text-centered">{{ the_space_sensors[s]|join(', ') }}</td>
                    </tr>
                    % endfor
                </table>
            </li>
        </ul>
    % endcall
    % endwith

    % call render_api_segment(
        the_shouts,
        []
    )
        {{ render_api_listing([
            'Bei den "_' ~ the_shouts ~ '" handelt es sich um die Nachrichten unterhalb vom Graph.',
            'Der Sensor hat den Namen __v' ~ the_shouts ~ 'v__, mit der Unit __v' ~ the_shouts ~ 'v__, und liegt in der Collection __v' ~ the_service_collection ~ 'v__.',
            'Die dazu benötigte Umgebung (Sensor, Unit, Collection) wird beim ersten Aufruf des Feeds, der SpaceAPI oder von Data mit dem parameter __vsensor=' ~ the_shouts ~ 'v__ automatisch erstellt.'
        ]) }}
    % endcall

    Zum Beispiel lassen sich {{ the_shouts }} bei bestimmten Ereignissen auch per api pushen:
    % call render_hartmann_gitter()
if [ $ERDSTRAHLEN -eq 1337 ]; then
{{ render_curl_line(
    'data', 'POST', [
        ('sensor', '"' ~ the_shouts ~ '"'),
        ('value', '"Erdstrahlen Overload! Sofort evakuieren!!1!einself!"')
    ],
    pre=true,
    ident='\t'
) }}fi
    % endcall

    % call render_api_segment(
        the_variation,
        []
    )
        {{ render_api_listing([
            'Bei den "' ~ the_variation ~ '" handelt es sich nicht um das oben beschriebene Script. __s(Nein! Doch!! Ohhh!!!)s__',
            'Es ist die Differenz der aufgerufenen URL vom Status zum tatsächlichen Wert des Status.',
            'Beim Expliziten Aufruf der URL __v[ ' ~ url_for('api') ~ ' ]' ~ url_for('conc', cc=0) ~ 'v__ bzw. __v[ ' ~ url_for('api') ~ ' ]' ~ url_for('conc')|replace('%25', '') ~ '%v__ wird das ganze übersprungen.',
            'Der Sensor hat den Namen __v' ~ the_variation ~ 'v__, mit der Unit __v' ~ the_variation_unit ~ 'v__, und liegt in der Collection __v' ~ the_service_collection ~ 'v__.',
            'Die dazu benötigte Umgebung (Sensor, Unit, Collection) wird beim ersten Aufruf des Status oder von Data mit dem parameter __vsensor=' ~ the_variation ~ 'v__ automatisch erstellt.'
        ]) }}
    % endcall

    <hr />
    <blockquote class="width-75 unit-centered">
        "... das Passwort liegt bestimmt irgendwo im Wiki&trade;, musst halt mal nachschauen ..."
    </blockquote>
% endblock content
