% from 'macros.html' import atom, dot, dash, set_conc
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{{ title ~ ' | ' if title }}monitor</title>
    <link href="{{ url_for('logo') }}" rel="shortcut icon">
    <link href="{{ url_for('atom_feed') }}" rel="alternate" title="monitor - {{ the_shouts }} feed" type="application/atom+xml">
    <link href="{{ url_for('static', filename='css/kube.min.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/kube.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment-with-locales.min.js') }}"></script>
    <script>moment.locale('de');</script>
    <script>
        function byte_fmt (bytes)
        {
            var units = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB'];
            if(bytes === 0 || bytes == 0){ return '0 Bit'; }
            var i = parseInt(Math.floor(Math.log(bytes)/Math.log(1024)), 10);
            return Math.round(bytes/Math.pow(1024, i), 2) + ' ' + units[i];
        }

        function time_fmt (seconds)
        {
            return moment(seconds).format('DD.MM - HH:mm:ss');
        };

        function reltime_fmt (seconds)
        {
            return moment(seconds).fromNow();
        };

        function uptime_fmt (seconds)
        {
            return moment.duration(seconds, 'seconds').humanize();
        };

        function rand_num(max, min)
        {
            return Math.floor(Math.random() * (max - min) + min);
        }

        function refresh_seconds ()
        {
            return rand_num({{ the_autoref_max }}, {{ the_autoref_min }});
        }

        function api_query (endpoint, callb, method, data, errorcallb)
        {
            method = (method ? method : 'GET');
            $('#loader').removeClass('hide');
            function cb (cd)
            {
                if (cd !== null && cd !== undefined)
                {
                    $('#loader').addClass('hide');
                    return callb(cd)
                }
            }
            function ecb (ex, err, exp)
            {
                $('#loader').text(exp);
                $('#loader').removeClass('hide');
            }

            $.ajax({
                url: endpoint,
                type: method,
                data: data,
                error: (errorcallb ? errorcallb : ecb),
                success: cb
            });
        }

        setInterval(function()
        {
            $('.time').text(time_fmt(new Date()));
        }, 250)


        % call(hurl, guess) set_conc(conclusions)
        var conc_timer;
        var guess = {{ guess }};
        var title = $(document).prop('title');
        % if conclusions and (conclusions[0] ~ '%') == title
        title = title.replace('{{ conclusions[0] }}%', '%%%');
        % endif

        function load_conc()
        {
            function set_conc(val)
            {
                $('.conc').html($('<a/>',
                {
                    href: '{{ hurl }}'.replace('{{ guess }}', val),
                    text: val + '%'
                }).hover(function (hv)
                {
                    $.progress.update(val);
                }));

                $.progress.hide();
                $(document).prop('title', title.replace('%%%', val+'%').replace('monitor', val+'%'));
                guess = val;
            }

            api_query('{{ url_for('api') }}/' + guess, set_conc);
            clearInterval(conc_timer);
            conc_timer = setInterval(function()
            {
                load_conc();
            }, refresh_seconds());
        }

        load_conc();
        % endcall
    </script>
    % block header
    % endblock header
    <style>
        #logo-container:hover #logo
        {
            -ms-transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
        }
        #logo
        {
            max-height: 150px;
            transition: 0.4s;
            transform-style: preserve-3d;
        }
    </style>
</head>
<body class="units-padding">

<header class="units-row end">
    <div class="unit-100 unit-centered">
        <a href="{{ url_for('index') }}" class="left" id="logo-container">
            <img id="logo" src="{{ url_for('logo') }}" alt="big awesome company icon logo comic sans" />
        </a>
        <nav class="navbar navbar-right">
            <ul>
                % with messages = get_flashed_messages()
                % for message in messages
                    <li>{{ message }}</li>
                    % if not loop.last
                    <li class="error">{{ dot() }}</li>
                    % endif
                % endfor
                % endwith
                <li><var id="loader" class="hide">{{ dot() }}</var>&nbsp;</li>
                <li><span class="time">{{ dash() }}</span></li>
                <li><a href="{{ url_for('api') }}">api</a></li>
                <li class="big"><h1>{{ set_conc(conclusions) }}</h1></li>
            </ul>
        </nav>
    </div>
</header>


<div class="units-row end main-content">
    <div class="unit-100 unit-centered">
        % block content
        % endblock content
    </div>
</div>

<footer class="units-row end">
    <nav class="navbar fullwidth">
        <ul>
            <li class="text-centered">
                <a href="{{ url_for('atom_feed') }}" rel="alternate" title="monitor - {{ the_shouts }} feed" type="application/atom+xml">{{ atom() }}</a>
            </li>
            <li class="text-centered">{{ set_conc(conclusions) }}</li>
            <li class="text-centered"><span class="time">{{ dash() }}</span></li>
        </ul>
    </nav>
</footer>

</body>
</html>
