% extends 'base.html'

% block content
    % macro _collection_progress(name, prc)
        % if name
        <script>
            $('#conc_{{ name }}').hover(function (hv){
                $.progress.update({{ prc }});
            });
        </script>
        % endif
    % endmacro

    % from 'macros.html' import dot, byte_format, uptime_format, time_format
    % if conclusions is defined and conclusions
    % with (sumres, collections) = conclusions
        % for (colres, collection, sensors) in collections
        % with name = collection.name if collection else the_non_collection
            <h3 class="text-centered"><a href="{{ url_for('index', _anchor=loop.index0) }}">{{ name }}</a></h3>
            <table class="table-simple table-hovered" id="conc_{{ name }}">
                <caption>
                    % if collection
                        {{ collection.description if collection.description else dot() }}
                    % else
                        {{ the_non_collection }}
                    % endif
                </caption>
                <thead>
                    <tr>
                        <th class="width-20 text-left lower"><var>sensor</var></th>
                        <th class="width-20 text-centered"><var>unit</var></th>
                        <th class="width-10 text-centered"></th>
                        <th class="width-10 text-centered"></th>
                        <th class="width-10 text-centered"></th>
                        <td class="width-10 text-right"></td>
                    </tr>
                </thead>
                <tbody>
                % for (sensres, sensor) in sensors
                    <tr>
                        <th class="width-20 text-left"
                        % if sensor.description
                            data-tools="tooltip" title="{{ sensor.description }}"
                        % endif
                        >{{ sensor.name }}</th>

                        <td class="width-20 text-centered"
                        % if sensor.unit and sensor.unit.description
                            data-tools="tooltip" title="{{ sensor.unit.description }}"
                        % endif
                        >
                            <em>
                                {{ sensor.unit.name if sensor.unit else dot() }}
                            </em>
                        </td>

                        % with last = sensor.get_data().first()
                        <td class="width-10 text-centered"
                            % if sensor.unit and sensor.unit.axis
                                data-tools="tooltip" title="{{ the_axis[sensor.unit.axis]|default('nix') }}"
                            % endif
                        >
                            % if sensor.unit and sensor.unit.axis
                                % if last and last.value
                                    % if sensor.unit.axis == 2:
                                        {{ byte_format(last.value) }}
                                    % elif sensor.unit.axis == 3:
                                        {{ uptime_format(last.value) }}
                                    % else
                                        {{ last.value }}
                                    % endif
                                % else
                                    {{ dot() }}
                                % endif
                            % else
                                {{ dot() }}
                            % endif
                        </td>

                        <td class="width-10 text-centered"
                        % if sensor.factor and not sensres
                            data-tools="tooltip" title="letzter Wert zu alt"
                        {%  endif %}
                        >
                            <small class="{{ 'error' if sensor.factor and not sensres }}">
                            % if last and last.time
                                {{ time_format(last.ms()) }}
                            % else
                                {{ dot() }}
                            % endif
                            </small>
                        </td>

                        <td class="width-10 text-centered"
                        % if sensor.factor and last and last.value
                            data-tools="tooltip" title="{{ last.value }} * {{ sensor.factor }}"
                        % endif
                        >{{ sensor.factor if sensor.factor else dot() }}</td>
                        <td class="width-10 text-right">{{ (sensres ~ '%') if sensres else dot() }}</td>
                        % endwith
                    </tr>
                % endfor
                </tbody>
                <tfoot>
                    <tr>
                        <td class="width-20 text-left"></td>
                        <td class="width-20 text-centered"></td>
                        <td class="width-10 text-centered"></td>
                        <td class="width-10 text-centered"></td>
                        <td class="width-10 text-centered"></td>
                        <td class="width-10 text-right">{{ colres }}%</td>
                    </tr>
                </tfoot>
            </table>
            {{ _collection_progress(name, colres) }}
        % endwith
        % endfor
    % endwith
    % endif
% endblock content
