% extends 'base.html'

% block header
    <script>
    % include 'conc.js'
    </script>
% endblock header

% block content
    <div class="width-100 hide" id="collections">
        <nav class="nav-tabs">
            <ul id="collection_elems"></ul>
        </nav>
        <div id="collection_descr"></div>
    </div>
    <div class="width-100 hide" id="sensors">
        <div id="sensor_elems"></div>
    </div>
    <div class="width-100 hide" id="units">
        <div id="unit_elems"></div>
    </div>
% endblock content
