% extends 'base.html'

% block header
    <script src="{{ url_for('static', filename='js/jquery.flot.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.flot.crosshair.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.flot.resize.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.flot.time.min.js') }}"></script>
    <script>
    $(function ()
    {
        var anchor = $(location).attr('hash').replace('#', '');
        var draw_timer;
        var cycle_timer;

        function black_or_white (color)
        {
            var rgb = color.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
            return (0.2126 * rgb[1] + 0.7152 * rgb[2] + 0.0722 * rgb[3]) < 150 ? 'black' : 'white';
        }

        var plot;
        var plot_data = {
            crosshair: {
                mode: 'x'
            },
            grid: {
                hoverable: true,
                clickable: true
            },
            legend: {
                show: true,
                container: $('#legend_phony'),
                sorted: true,
                labelFormatter: function (label, series)
                {
                    $('#legend_elems').append($('<div/>',
                    {
                        class: 'width-100 label label-' + black_or_white(series.color),
                        css: {'background-color': series.color},
                        id: 'legend_elems_'+label,
                        text: label
                    }));
                }
            },
            series: {
                shadowSize: 0,
                lines: {show: true},
                points: {show: true}
            },
            xaxis: {
                mode: 'time',
                timeformat: '%d.%m - %H:%M',
                timezone: 'browser',
                tickFormatter: function (value, axis)
                {
                    return time_fmt(value);
                }
            },
            yaxes: [
                {}, // 1: numbers
                {
                    tickFormatter: function (value, axis)
                    {
                        return byte_fmt(value);
                    }
                }, // 2: bytes
                {
                    mode: "time",
                    timezone: "browser",
                    tickFormatter: function (value, axis)
                    {
                        return uptime_fmt(value);
                    }
                } // 3: seconds
            ]
        }

        function load()
        {
            function draw(source)
            {
                function redraw(data)
                {
                    $('#plot').removeClass('hide');
                    $('#legend').removeClass('hide');

                    $('#plot').resize(function ()
                    {
                        $('#legend_elems').text('');
                    });
                    $('#legend_elems').text('');

                    $('#plot').bind('plotclick plothover', function (event, pos, item)
                    {
                        if (pos !== undefined && pos !== null)
                        {
                            $.each(plot.getData(), function (i, dset)
                            {
                                var ptime = null;
                                var label = null;
                                var last = $(dset.data.filter(function(idx){ return idx[0] <= pos.x; })).first()[0];
                                if (last !== undefined && last !== null)
                                {
                                    ptime = time_fmt(pos.x);
                                    switch (dset.yaxis.n)
                                    {
                                        case 1: label = last[1] + ' [' + last[1] + ']'; break;
                                        case 2: label = byte_fmt(last[1]) + ' [' + last[1] + ']'; break;
                                        case 3: label = uptime_fmt(last[1]) + ' [' + last[1] + ']'; break;
                                        default: break;
                                    }
                                    if (label !== undefined && label !== null)
                                    {
                                        $('#legend_elems_'+dset.label).text(dset.label + ' (' + label + ' - ' + ptime + ')');
                                    }
                                }
                            });
                        }
                    });
                    plot = $.plot('#plot', data, plot_data);
                }

                $('#source_elems_'+source).parent().siblings().each(function (i, se)
                {
                    $(se).removeClass('active');
                });
                $('#source_elems_'+source).parent().addClass('active');

                clearInterval(draw_timer);
                draw_timer = setInterval(function() {
                    draw(source);
                }, refresh_seconds());

                api_query('{{ url_for('api') }}/graph/'+source, redraw);
            }

            function reload(sources)
            {

                $('#source_elems').text('');
                $('#sources').removeClass('hide');

                var draw_num = 0;

                $.each(sources, function (i, source)
                {
                    $('#source_elems').append(
                        $('<li/>',
                            {
                                id: source,
                            }).append(
                            $('<a/>',
                            {
                                id: 'source_elems_'+source,
                                text: source
                            }).on('click', function (cl)
                            {
                                clearInterval(cycle_timer);
                                draw(source);
                            })
                        )
                    );

                    if (anchor == source || i == draw_num)
                    {
                        draw(source);
                    }
                });

                if(anchor == 'cycle')
                {
                    clearInterval(cycle_timer);
                    cycle_timer = setInterval(function() {
                        clearInterval(draw_timer);
                        draw_num = (draw_num + 1 < sources.length ? draw_num + 1 : 0)
                        draw(sources[draw_num]);
                    }, 2 * refresh_seconds());
                }
            }

            api_query('{{ url_for('api') }}/graph', reload)
        }

        load();

    });
    </script>
    <style>
        #plot
        {
            height: 250px;
        }
    </style>

    <script>
    $(function ()
    {
        var timer;
        var wdh = 3;

        function load()
        {
            function reload(shouts)
            {
                $('#{{ the_shouts }}').text('');
                $('#{{ the_shouts }}').removeClass('hide');

                $.each(shouts, function (i, shout)
                {
                    var elem = (i - (i % wdh));
                    var block = ((i % wdh) != 0) ? $('#block_'+elem) : $('<ul/>',
                    {
                        id: 'block_'+elem,
                        class: 'blocks-'+wdh
                    });

                    block.append($('<li/>').append($('<div/>',
                    {
                        class: 'group'
                    }).on('click', function (cl)
                    {
                        $('#delete_'+i).fadeIn('fast');
                    }).append($('<big/>',
                    {
                        id: 'delete_'+i,
                        class: 'left error hide',
                        title: 'delete',
                        text: '✗',
                    }).on('click', function (cl)
                    {
                        api_query('{{ url_for('api') }}/data/{{ the_shouts }}', load, 'DELETE', {
                            time: shout.time,
                            value: shout.value
                        }, function(ex, err, eex)
                        {
                            $('#toggle_'+i).addClass('error');
                            $('#toggle_'+i).text(err + ' - ' + eex);
                            $('#delete_'+i).fadeOut('slow');
                        });
                    })).append($('<blockquote/>',
                    {
                        class: 'end',
                        text: shout.value
                    })).append($('<span/>',
                    {
                        id: 'toggle_'+i,
                        class: 'small left',
                        text: reltime_fmt(shout.time)
                    }))));

                    $('#{{ the_shouts }}').append(block);
                });
            }

            api_query('{{ url_for('api') }}/data/{{ the_shouts }}', reload);
            clearInterval(timer);
            timer = setInterval(function() {
                load();
            }, refresh_seconds());
        }

        load();
    });
    </script>
% endblock header


% block content
    % from 'macros.html' import render_shout_form
    <div class="units-row end">
        <nav class="nav-tabs hide" id="sources">
            <ul id="source_elems"></ul>
        </nav>
        <div class="unit-100 hide" id="plot"></div>
        <div class="unit-100 hide" id="legend">
            <div id="legend_elems"></div>
            <span class="hide" id="legend_phony"></span>
        </div>
    </div>

    <div class="units-row units-padding end">
        <div class="unit-100 hide" id="{{ the_shouts }}"><a>{{ the_shouts }}</a></div>
    </div>

    {{ render_shout_form(shout_form) }}
% endblock content
