% extends 'base.html'

% block header
    <script src="{{ url_for('static', filename='js/jquery.flot.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.flot.crosshair.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.flot.navigate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.flot.resize.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.flot.time.min.js') }}"></script>
    <script>
    % include 'graph.js'
    % include 'shouts.js'
    </script>
    <style>
        #plot
        {
            height: 250px;
        }
    </style>
% endblock header

% block content
    <div id="graph" class="width-100" tabindex="1">
        <nav class="nav-tabs hide" id="sources">
            <ul id="source_elems"></ul>
        </nav>
        <div class="width-100 hide" id="plot"></div>
        <nav class="nav fullwidth small end hide" id="navigation">
            <ul id="navigation_elems"></ul>
        </nav>
        <div class="width-100 hide" id="legend">
            <div id="legend_elems"></div>
            <span class="hide" id="legend_phony"></span>
        </div>
    </div>
    <div class="width-100 hide" id="{{ the_shouts }}"><a>{{ the_shouts }}</a></div>
    % if shout_form is defined and shout_form
    <form action="{{ url_for('index') }}" method="post" class="forms unit-75 unit-centered">
        {{ shout_form.csrf_token() }}
        <div class="input-groups width-100">
            <code id="counter" class="input-prepend fa fa-hand-o-right"></code>
            {{ shout_form.shout(placeholder='schreib was!') }}
            <span class="btn-append">
                {{ shout_form.save(class='btn') }}
            </span>
        </div>
        % for error in shout_form.errors.shout
            <span class="error">{{ error }}</span>
        % endfor
    </form>
    % endif
% endblock content
